@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0.5rem 0;
    line-height: 1.25;
}

h1 {
    @apply text-3xl;
}
h2 {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}

.input-primary-sm {
    @apply border p-[0.125rem] outline-amber-400 max-w-[80px];
}

.input-primary {
    @apply border px-3 py-2 outline-amber-400;
}

.cart-container {
    @apply bg-black bg-opacity-50 w-full h-full fixed top-0 left-0 opacity-0 z-[-999];
}

.cart-container-open {
    @apply opacity-100 z-10;
}

.cart-inner {
    @apply relative h-full;
}

.cart {
    @apply absolute top-0 right-[-100%] duration-300 ease-in-out max-w-[18rem] md:max-w-[22rem] p-2 bg-white h-full w-full;
}

.cart-open {
    @apply right-0;
}

.cart-icon {
    @apply fixed top-[70px] right-2 p-1.5 bg-amber-400 flex items-center justify-center rounded-lg;
}

.btn-primary {
    background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    @apply disabled:bg-amber-100 bg-[#f3d078] disabled:text-gray-400 py-1.5 px-3 duration-200 ease-in-out focus:ring-2 ring-amber-200 rounded text-eerie;
}

.btn-border {
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}

.link {
    @apply underline text-amber-600;
}

nav ul li {
    @apply hover:underline hover:text-amber-300 duration-200;
}

.error-text {
    @apply text-red-500 text-sm;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #f0c14b;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
